@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
* {
    font-family: 'Roboto Mono';
}

header {
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-top: 50px;
}

nav a {
    text-decoration: none;
    color: dimgray;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

nav a.active {
    border-bottom: 2px solid black;
}

.TITLE {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 60px;
    font-size: 25px;
}

.componente{
    width: 297px;
    height: 60px;
    border-radius: 40px;
    background-color: #333333;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    align-items: center;
   
}



.IMAGEM {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end; 
    margin-right: 27px;
}

.Main2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}
.container {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.card {
  width: 309px;
  height: auto;
  padding: 20px;
  border-radius: 15px;
  margin-left: 25px;
}

.card h2 {
  margin: 0;
  font-size: 40px;
  color: black;
}
.card h1 {
  
  margin: 0;
  color: white;
  font-size: 45px;
}
.card h3 {
  margin-top: 50px;
  margin-bottom: 4px;
  font-size: 24px;
  color: black;
}

.card p {
  font-size: 15px;
  color: black;
}

.pink img{
  display: flex;
  justify-content: flex-end;
}

.pink {
  background-color: #F1C2B0;
}

.yellow {
  background-color:  #F9EB98;
  ;
}

.lightblue {
  background-color: #add8e6;
}

.navy {
  background-color: #6975E8;
}
.PosicaoDaImagem {
  display: flex ;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 10%;
}
.TITLE p{
  margin-left: 3px;
}
.imagemcell1{
  width:216px ;
  height: 469px;
  margin-right: 30px;
}
.imagemcell2{
  width:216px ;
  height: 469px;
}

.mainContato{
  min-height: calc(50vh - 100px);
  padding: 20px;
  margin: 10px;
  margin-top: 80px;
}
 
#contato {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
 
.formaContato {
  width: 30%;
}
 
.Nome{
  display: flex;
  flex-direction: row;
}
 
.Nome label{
  align-self: center;
  font-family: 'Roboto Mono';
}
 
.Email{
  display: flex;
  flex-direction: row;
  
}
 
.Email label{
  align-self: center;
  font-family: 'Roboto Mono';
  font-size: 14px;
}

.Mensagem {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  

}
 
.Mensagem label{
  align-self: flex-start;
  font-family: 'Roboto Mono';
}
 
.Mensagem input{
  height: 100px;
  margin-left: 30px;
  
}
 
#contatoEmail{
  text-align: center;
}
 
#contatoEmail form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
 
.texto{
  margin: 20px 20px;
  margin-right: 0px;
  width: 300px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgb(187, 187, 187);
  border: 0 none;
  outline: 0;
  align-items: center;
}
 
.botao{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
}
 
button{
  width: 150px;
  border: none;
  background-color: #6975E8 ;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
 
.mainContato{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
 
#contato{
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
 
.caixaMensagem{
  margin: 20px 20px;
  margin-right: 0px;
  width: 340px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgb(187, 187, 187);
  border: 0 none;
  outline: 0;
  align-items: center;
}
 
h2{
  font-size: 50px;
}
 
.imagem{
  margin: 15px;
  font-family: 'Roboto Mono';
}
 
.imagens{
  display: flex;
  flex-direction: row;
}
 
.linha{
  height: 500px;
  border-left: 2px solid;
  color: rgb(170, 170, 170);
}
.container {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.cardCards2{
  width: 260px;
  height: 390px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  margin: 25px;

}
.containerCards {
  display: flex;
  justify-content: center;
  padding: 25px;
  background-color:  #F4F2F2; 
}
.card-header {
  display: flex;
  background: #6975E8;
  width: auto;
  height: 74px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.card-header p {
  font-size: 15px;
}
.h3card{
  color: grey;
  font-size: small;
  margin-left: 8px; 
  margin-top: 20px;
}
.checkbox{
  width: 105%;
  height: 32px;
  border-radius: 30px;
  box-shadow: 5px 5px 5px rgb(187, 187, 187);
  border: 0 none;
  outline: 0;
  align-items: center;
  margin-left: 5px; 
}
.card-main{
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.btnCadastrar{
  width: 225px;
  height: 34px;
  border: none;
  background-color: #6975E8 ;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.card-footer{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.texto{
  display: flex;
  flex-direction: column;
}

.texto h1{
 display: flex;
 justify-content: center;
 font-family: 'Roboto Mono';
}

.cartas{
  display: flex;
  flex-direction: row;
}

.titulo{
  display: flex;
  justify-content: center;
}